process {
    withLabel:cnv {
        container = '/rsrch5/home/genetics/NAVIN_LAB/Ryan/projects/wgd/src/copykit.sif'
    }
    withLabel:bcl2fastq {
        container = '/rsrch5/home/genetics/NAVIN_LAB/Ryan/projects/wgd/src/bcl2fastq2.sif_latest.sif'
    }
    withLabel:cellranger {
        container = '/rsrch5/home/genetics/NAVIN_LAB/Ryan/projects/wgd/src/cellranger.sif'
    }
    withLabel:cellranger {
        container = '/rsrch5/home/genetics/NAVIN_LAB/Ryan/projects/wgd/src/cellranger.sif'
    }
    withLabel:bc_multiome {
        container = '/rsrch5/home/genetics/NAVIN_LAB/Ryan/projects/wgd/src/multiome_bc.sif'
    }
}
singularity {
    enabled = true
    autoMounts = true
}